/discordmsgparser.py
/.env
/logs
/11/discord_mailer.db
/discord_mailer.db-shm
/discord_mailer.db-wal
/answer.json
/sended.json
/data.json
/formed.json
/dis_tokens.json
*__pycache__/
env
iam_token.json
/tokens.json
/res.txt
/proxies_checked.json
/proxies.txt
/proxies.json
/parse_tokens.json
/good_proxies.json
/accounts.txt
/data/
/tests/
/discord_mailer.conf
/help.txt
/help.jpg
/.idea
